
QScrollBar:horizontal {
     background: white;
     border-bottom-right-radius: 4px;
     border-bottom-left-radius: 4px;
     height: 12px;
 }
 QScrollBar::handle:horizontal {
     background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 #4287ff, stop: 1 #356ccc);
     border-radius: 4px;
     min-width: 20px;
     margin: 2px 0px 2px 0px;
 }
 QScrollBar::add-line:horizontal {
     background: none;
     width: 0px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:horizontal {
     background: none;
     width: 0px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }

/* --- Scrollbars vertical section --------------------------------------------- */

 QScrollBar:vertical {
     background: white;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     width: 12px;
     margin: 0px;
 }
 QScrollBar::handle:vertical {
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 0,
                                    stop: 0 #4287ff, stop: 1 #356ccc);

     border-radius: 4px;
     min-height: 20px;
     margin: 0px 2px 0px 2px;
 }
 QScrollBar::add-line:vertical {
     background: none;
     height: 0px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     background: none;
     height: 0px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }

QWidget#WTasksOnWeek QScrollBar{
    background: #e4e4e4;
}

QWidget#WAbout QScrollBar{
    background: #e4e4e4;
}

