
 *{
    font-style:normal;
 }

 QMainWindow {
    background: #ededed;
 }

 QDialog {
    background: #ededed;
 }

 QWidget#WSettingSchedule {
    background: #ededed;
 }

 QWidget#WAbout {
    background: #ededed;
 }

 QWidget#pageTaskEdit {
    background: #ededed;
 }

 QFrame#frmBackground {
    background: #ededed;
 }

/* --- General purposes section --------------------------------------------- */

 QLineEdit {
    border-radius: 2px;
 }

 QPushButton::menu-indicator{
    image :url(:/img/other/images/others/empty.png);
 }

QWidget#scrollAreaWidgetContents{
    background :url(:/img/other/images/others/background.png);
    border: 2px solid #3873D9;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

QTextEdit#teTaskDescription{
    background-image: url(:/img/other/images/others/background.png);
    border: 2px solid #3873d9;
    border-radius:4px;
}

/* --- List View section ----------------------------------------------------- */
 QListWidget {
    border: 2px solid #3873D9;
    border-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    background-image :url(:/img/other/images/others/background.png);
 }
 QListView::item:selected:active  {
    background-color: #3873D9;
 }

/* --- Editable Combobox box section ------------------------------------------*/
QComboBox:editable {
    border-radius: 2px;
}

 QComboBox#cbAuditory::drop-down:editable {
     border-left-width: 1px;
     border-left-color: #777;
     border-left-style: solid;
     background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                         stop: 0 #fff, stop: 1 #dedede);
     border-top-right-radius:2px;
     border-bottom-right-radius:2px;
 }

 QComboBox#cbAuditory::down-arrow:editable {
    height:8px;
    width: 8px;
    image: url(:/img/icons/images/icons/comboArrow.png);
 }
/* Same thing */
 QComboBox#cbGroup::drop-down:editable {
     border-left-width: 1px;
     border-left-color: #777;
     border-left-style: solid;
     background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                         stop: 0 #fff, stop: 1 #dedede);
     border-top-right-radius:2px;
     border-bottom-right-radius:2px;
 }

 QComboBox#cbGroup::down-arrow:editable {
    height:8px;
    width: 8px;
    image: url(:/img/icons/images/icons/comboArrow.png);
 }

/* --- Check box section ----------------------------------------------------- */
 QCheckBox#cbFilterCheck {
    font-size: 14px;
    color: #333;

    height: 33px;
    width: 223px;
    spacing: 4px;
 }
 QCheckBox#cbFilterCheck:checked {
    image: url(:/img/other/images/others/filterBackground.png);
 }

 QCheckBox#cbFilterCheck::indicator {
     margin-left: 5px;
     width: 20px;
     height: 20px;
 }
 QCheckBox#cbFilterCheck::indicator:checked{
     image: url(:/img/icons/images/icons/checkedDark.png);
 }
 QCheckBox#cbFilterCheck::indicator:unchecked {
     image: url(:/img/icons/images/icons/uncheckedDark.png);
 }
